/**
 * @file
 * pages/error-pages.less.
 */

.error-page-title{
  font-size: 100px;
  margin-top: 0;
}

.error-page-title + p{
  max-width:320px;
  margin: 0 auto @double-space auto;
  font-size: 15px;
  font-size: 1.5rem;
}
