/**
 * @file
 * pages/user-profile.less.
 */

.profile-info{
  position: relative;

  img{
    .border;
  }

  .profile-info-title{
    position: absolute;
    bottom:@half-space;
    left:0;
    background: rgba(red(@inverse-bg), green(@inverse-bg), blue(@inverse-bg), 0.85);
    padding: @third-space @default-space;
    color: @inverse-text-color;

    .profile-info-name{
      display: block;
      .uppercase;
      .text-lg;
      .bold;
      color: @brand-primary;
    }
  }
}

ul.simple-user-list{
  .list-unstyled();

  li{
    margin: 0 0 20px;
  }

  .image{
    float:left;
    .img-thumbnail;
    padding:2px;
    margin: 0 10px 0 0;

    img{
      width: 50px;
      height:50px;
    }
  }

  .title{
    display: block;
    .semi-bold;
    line-height: normal;
  }
  .message{
    .text-sm;
  }
}

ul.simple-post-list{
  .list-unstyled();

  li{
    margin: 0 0 20px;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }

  .img-thumbnail{
    float:left;
    margin: 0 10px 0 0;

    img{
      width: 80px;
      height:80px;
    }
  }

  .post-title{
    .h5;
    margin:0;
  }
  .post-meta{
    .text-xs;
    color: @text-muted;
  }
}
