@import (reference) "../assets/less/variables-font-awesome.less";
@import (reference) "../assets/less/font-awesome.less";
@import (reference) "../assets/less/variables-custom.less";
@import (reference) "../assets/less/variables.less";
@import (reference) "../assets/vendor/bootstrap/less/mixins.less";
@import (reference) "../assets/vendor/bootstrap/less/mixins/clearfix.less";
@import (reference) "../assets/vendor/bootstrap/less/utilities.less";
@import (reference) "../assets/vendor/bootstrap/less/type.less";
@import (reference) "../assets/less/mixins.less";
@import (reference) "../assets/less/backgrounds.less";

/**
 * Contextual links
 */
.contextual-links-region,
.panel.contextual-links-region,
.node.contextual-links-region,
.block.contextual-links-region  {
  outline: none;
  position: relative;
}
.contextual-links-region-active,
.panel.contextual-links-region-active,
.node.contextual-links-region-active,
.block.contextual-links-region-active  {
  @color: @input-border-focus;
  @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
  border-color: @color;
  outline: 0;
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
}

div.contextual-links-wrapper {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: @zindex-dropdown;
  .text-sm;
}

.panel-actions div.contextual-links-wrapper{
  display:block;
  position:static;
  float: left;
  margin-left: @half-space;
}

html.js div.contextual-links-wrapper {
  display: block;
}
a.contextual-links-trigger {
  .add-icon("\f013");
  border: 1px solid transparent;
  display: none;
  margin: 0;
  padding: 2px 5px;
  outline: none;
  height: 24px;
  width: 24px;
  overflow: hidden;
  .text-muted;
  background-color: transparent;
  background-image: none;
}
.panel-actions a.contextual-links-trigger{
  display: block;
  color: @text-color;
  padding: 0;
  height: 20px;
  width: 14px;
  line-height: 20px;
}
a.contextual-links-trigger:hover,
div.contextual-links-active a.contextual-links-trigger {
 color: @text-color;
}
.panel-actions a.contextual-links-trigger:hover,
.panel-actions div.contextual-links-active a.contextual-links-trigger {
  background: transparent;
}
div.contextual-links-active a.contextual-links-trigger {
  position: relative;
  z-index: 1;
}
div.contextual-links-wrapper ul.contextual-links {
  position: absolute;
  top: 21px;
  right: 0;
  z-index: @zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: @font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: @dropdown-bg;
  border: 1px solid @dropdown-border;
  .round-border-bottom;
  .light-shadow;
  background-clip: padding-box;

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: @line-height-base;
    color: @dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    .opacity(1);

    &:hover,
    &:focus {
      .dark-bg;
    }
  }
}
.panel-actions div.contextual-links-wrapper ul.contextual-links {
    top:16px;
}
a.contextual-links-trigger-active,
div.contextual-links-active a.contextual-links-trigger,
div.contextual-links-active ul.contextual-links {
  display: block;
}
