html body,
body{
  &.navbar-is-fixed-top {
    padding-top: @navbar-height + @navbar-margin-bottom !important;

    &.admin-menu {
      margin-top: 25px !important;

      .navbar-fixed-top{
        top: 25px;
      }
      &.toolbar {
        padding-top: @navbar-height + @navbar-margin-bottom + 35px !important;
        .navbar-fixed-top{
          top: 55px;
        }
        &.toolbar-drawer{
          padding-top: @navbar-height + @navbar-margin-bottom + 70px !important;
          .navbar-fixed-top{
            top: 90px;
          }
        }
      }
    }

    &.toolbar {
      padding-top: @navbar-height + @navbar-margin-bottom + 35px !important;
      .navbar-fixed-top{
        top: 35px;
      }
      &.toolbar-drawer{
        padding-top: @navbar-height + @navbar-margin-bottom + 70px !important;
        .navbar-fixed-top{
          top: 70px;
        }
      }
    }
  }

  &.navbar-is-fixed-bottom {
    padding-bottom: @navbar-height !important;
  }

  &.navbar-is-fixed-top.page-has-highlighted:not(.scrolled){
    .navbar{
      .unset-shadow;
    }
  }
}

#admin-menu {
  position: fixed;
  z-index: 1600;
  background: transparent;
  .gradient-darker();
  .border-bottom(lighten(@border-color-inverse, 10%));
  color: @inverse-text-color;
  .strong-shadow();
  font-family: @font-family-sans-serif;
  line-height:normal;

  #admin-menu-wrapper{
    padding: 0;
  }

  .dropdown{
    line-height:normal;

    .admin-menu-toolbar-category > a,
    .dropdown .admin-menu-action > a{
      margin-bottom: 0;
      .gradient-dark();
      .unset.border-radius();
      display: inline-block;
      height: 25px;
      line-height: 25px;
      .border-right(lighten(@border-color-inverse, 5%) );
      .text-shadow(@border-color-inverse);

      &:focus,
      &:hover,
      &.active,
      &.active-trail{
        background:none;
        .gradient-dark-hover();
        .text-shadow(@border-color-inverse);
      }
    }

    .admin-menu-icon img {
      vertical-align: top;
    }
  }

  > div > .dropdown > li > a {
    .gradient-dark();
    .unset.border-radius();
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-bottom: 0;
    padding: 0 @half-space;
    .border-right(lighten(@border-color-inverse, 5%) );
    .text-shadow(@border-color-inverse);

    &:focus,
    &:hover,
    &.active,
    &.active-trail{
      background:none;
      .gradient-dark-hover();
      .text-shadow(@border-color-inverse);
    }
  }

  input{
    .input-sm();
    max-height:18px;
  }
}

.logo,
.logo img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  max-height: @navbar-height - (@default-space * 2);
}

.navbar-default .menu.nav{
  li.active{
    > a {
      color: @text-color;
    }
  }
}

/* Common */
.element-invisible{
  .hidden;
}

ul.links,
.item-list ul:not(.pager){
  .list-unstyled;

  li a{
    .add-icon('\f105');
    &:before{
      padding-right: @third-space;
    }
  }
}

.marker{
  .label;
  .label-info;
}

.block{margin-bottom: @default-space;}

.footer-bottom .block,
.alert .block{
  margin-bottom:0;
}

.node{
  .border;
  .drop-shadow;
  .light-bg;
  padding: @panel-body-padding;
  margin-bottom: @default-space;

  > h2{
    margin-top: 0;
  }
}

.submitted{
  .text-muted;
  .text-sm;
  padding-bottom: @half-space;
}

.submitted div{
  display: inline-block;
}

.node .links{
  .list-unstyled;
  .border-top(@border-color-light);
  padding-top: @third-space;
  margin-top: @half-space;
}

.field{
  margin-bottom: @default-space;
}

.messages ul{
  .list-unstyled;
}

.messages.warning{
  .alert;
  .alert-warning;
}

th.checkbox,
td.checkbox{
  margin:0;
  position: static;
  display: table-cell;
}

tr.odd{background-color: @table-bg-accent;}

tr.add-new td{
  .form-inline;
  position: relative;

  .tabledrag-handle{
    position:absolute;
    left:0.4em;
  }
}

.container-inline{
  .form-inline;
}

.region-content > .block > .content{
  .light-bg;
  padding-right: @default-space;
  padding-left: @default-space;

  > form{
    .base-bg;
    .border-top();
    padding-top: @default-space;
    margin-right: -@default-space;
    margin-left: -@default-space;
  }

  > .table{
    margin-right: -@default-space;
    margin-left: -@default-space;
  }
}

.tabs + .region-content > .block > .content{
  margin-top: -@default-space;
  padding-top: @default-space;
}

.page-title{
  display:inline-block;
  line-height: normal;
  padding-right:@third-space;
}

span.new {
  .label;
  .label-info;
  float:right;
}

.language-dropdown{
  max-width: 160px;
  > a{
    .text-muted();
  }
}

.commerce-reports .views-exposed-form .date-padding input{
  background-image: none;
}

.form-actions a:not(.btn) {
  .btn;
  .btn-default;
}

.action-links {
  a {
    .label;
    .label-default;
  }
}

.rules-elements-table ul.rules-operations a {
  color:@link-color;
  font-weight: normal;
  font-size: 100%;

  &:hover,
  &:focus {
    color: @link-hover-color;
    background: none;
  }
}

/**
 * Override default textfield float to put the "Add role" button next to
 * the input textfield.
 */
#user-admin-roles td.edit-name {
  clear: both;
}
#user-admin-roles .form-item-name {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}

/**
 * Password strength indicator.
 */
.password-strength {
  width: 17em;
  float: right;  /* LTR */
}
.password-strength-title {
  display: inline;
  .text-muted;
}
.password-strength-text {
  float: right; /* LTR */
  font-weight: bold;
  .text-muted;
}
.password-indicator {
  background-color: @gray-lighter;
  height: 0.3em;
  width: 100%;
}
.password-indicator div {
  height: 100%;
  width: 0%;
}
.indicator-danger{
  background: @brand-danger;
}
.indicator-warning{
  background: @brand-warning;
}
.indicator-success{
  background: @brand-success;
}
.indicator-info{
  background: @brand-info;
}
input.password-confirm,
input.password-field {
  float:left;
  width: auto;
}
.form-type-password-confirm label.control-label{
  float:left;
  min-width: 25%;
}
.form-type-password-confirm .form-type-password {
  .clearfix();
}
div.password-confirm {
  float:right;
  visibility: hidden;
  width: 17em;
  .text-muted;
}
@media only screen and (max-width: @screen-xs-max){
  input.password-confirm,
  input.password-field,
  .form-type-password-confirm label.control-label{
    float:none;
  }
}
div.password-confirm span.ok{
  .text-success;
}
div.password-confirm span.error{
  .text-danger;
}

div.password-suggestions{
  clear: both;
}

div.password-suggestions ul {
  margin-bottom: 0;
}

#user-login-form ul{
  .list-separeted;
  .text-sm;
  margin-bottom: @half-space;
}

/**
 * Dragable table.
 *
 * @see tabledrag.js
 */
body.drag {
  cursor: move;
}
.draggable a.tabledrag-handle {
  display:inline-block;
  cursor: move;
  float: left; /* LTR */
  height: 1.7em;
  overflow: hidden;
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  position: relative;
  height: 1.3em;
  width: 1.3em;
  margin-right: @half-space;

  .text-muted;

  i{
    position: absolute;
    top:4px;
    left: 0;
  }
}

.draggable a.tabledrag-handle + div{
  display: inline-block;
  float: left;
  width: 90%;
}

div.indentation {
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  width: 20px;
}
div.tree-child {

}
div.tree-child-last {

}
div.tree-child-horizontal {

}
.tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
  padding-left: @default-space;
  padding-right: @default-space;
}

.warning.tabledrag-changed{
  .text-warning;
}
.draggable > td > .form-type-checkbox{
  .col-md-12{
    width: auto;
  }
}

.tabledrag-toggle-weight-hidden .label-input{
  padding-left: 1.7em;
}

tr.drag-previous{
  background-color: @state-warning-bg;

  &:hover{
    background-color: darken(@state-warning-bg, 5%);
  }
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list */
.autocomplete-group{
  position: relative;
}
#autocomplete {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  border-color: @alt-link-color;
  .select2-focus();
  .round-border-bottom;

}
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  cursor: default;
  white-space: pre;
  zoom: 1; /* IE7 */
  padding:@padding-base-vertical @padding-base-horizontal;

  &:hover,
  &:focus{
    .bg-info();
  }
}
/*
 * Progress behavior.
 *
 * @see progress.js
 */
/* Throbber */
.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  background: transparent;
  float: left; /* LTR */
  height: 15px;
  margin: 2px;
  width: 15px;
  .text-info;
  .add-icon(@fa-var-circle-o-notch);
  &:before{
    -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
  }
}
.ajax-progress .message {
  padding-left: 20px;
}
tr .ajax-progress .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/**
 * Resizable textareas.
 *
 * @see textarea.js
 */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.resizable-textarea .grippie {
  position: relative;
  background: @dark-bg no-repeat center 2px;
  .border(@border-color-dark);
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
  text-align: center;

  .add-icon('\f0c9');

  &:before{
    position: absolute;
    top: 0;
    font-size: 9px;
    color:lighten(@gray-light, 15%);
    .scale(3,1);
  }
}

/**
 * Stickey header.
 */
 .sticky-header{
  z-index:@zindex-navbar;

  thead{
    .light-bg;
    .border-bottom();
    .light-shadow();

    th{
      padding: @table-cell-padding;
    }
  }
}

/**
 * Image style configuration pages.
 */
div.image-style-new{
  .form-inline;
}

div.image-style-preview div.preview-image-wrapper {
  float: left;
  padding-bottom: 2em;
  text-align: center;
  top: 50%;
  width: 48%;
}
div.image-style-preview div.preview-image {
  margin: auto;
  position: relative;
}
div.image-style-preview div.preview-image img{
  .img-thumbnail;
}
div.image-style-preview div.preview-image div.width {
  border: 1px solid #666;
  border-top: none;
  height: 2px;
  left: -1px;
  bottom: -6px;
  position: absolute;
}
div.image-style-preview div.preview-image div.width span {
  position: relative;
  top: 4px;
}
div.image-style-preview div.preview-image div.height {
  border: 1px solid #666;
  border-left: none;
  position: absolute;
  right: -6px;
  top: -1px;
  width: 2px;
}
div.image-style-preview div.preview-image div.height span {
  height: 2em;
  left: 10px;
  margin-top: -1em;
  position: absolute;
  top: 50%;
}

/**
 * Image anchor element.
 */
table.image-anchor {
  width: auto;
}
table.image-anchor tr.even,
table.image-anchor tr.odd {
  background: none;
}
table.image-anchor td {
  .border();
}

/**
 * Appearance page.
 */
.caffelatte-theme-selector .screenshot,
.caffelatte-theme-selector .no-screenshot{
  width: 294px;
  height: 219px;
  line-height: 219px;
  text-align: center;
}

.system-themes-list-disabled .caffelatte-theme-selector .screenshot,
.system-themes-list-disabled .caffelatte-theme-selector .no-screenshot{
  width: 194px;
  height: 144px;
  line-height: 144px;
}

.theme-default h3{
  font-weight:300;
}

.theme-default .screenshot,
.system-themes-list-disabled{
  border-color:@border-color;
}

/**
 * Overlay
 */
#overlay-container{
  z-index: @zindex-modal;
}

/**
 * Toolbar menu
 */
#toolbar{
  z-index: @zindex-navbar + 10;
  background: @inverse-bg;
  color: @inverse-text-color;
  .border-bottom(lighten(@border-color-inverse, 10%));
  .strong-shadow();
  font-family: @font-family-sans-serif;
}
body.navbar-is-fixed-top #toolbar{
  z-index: @zindex-navbar-fixed + 10;
}
body.admin-menu #toolbar{
  top: 20px;
}
#toolbar div.toolbar-menu{
  .gradient-darker();
  .border-bottom(lighten(@border-color-inverse, 10%));
  padding-top: 0;
  padding-bottom: 0;
}
div#toolbar div.toolbar-shortcuts ul{
  padding-top: 7px;
}
div#toolbar div.toolbar-shortcuts ul li a{
  .label;
  .label-default;
  padding: 0.4em 0.6em;
}
#toolbar div.toolbar-menu ul li a{
  .gradient-dark();
  .unset.border-radius();
  display: inline-block;
  height: 34px;
  line-height: 34px;
  .border-right(lighten(@border-color-inverse, 5%) );
  .text-shadow(@border-color-inverse);
}
#toolbar div.toolbar-menu ul li a:focus,
#toolbar div.toolbar-menu ul li a:hover,
#toolbar div.toolbar-menu ul li a:active,
#toolbar div.toolbar-menu ul li a.active:focus{
  background:transparent;
  .gradient-dark-hover();
  .text-shadow(@border-color-inverse);
}
#toolbar div.toolbar-menu ul li a.active:hover,
#toolbar div.toolbar-menu ul li a.active:focus{
  background:transparent;
  .gradient-dark-hover();
  .text-shadow(@border-color-inverse);
}
#toolbar div.toolbar-menu ul li a.active:active,
#toolbar div.toolbar-menu ul li a.active,
#toolbar div.toolbar-menu ul li.active-trail a{
  background:transparent;
  .gradient-dark-inverse-hover();
  .text-shadow(@border-color-inverse);
}

#toolbar div.toolbar-menu ul li.first a{.border-left(lighten(@border-color-inverse, 5%));}
#toolbar div.toolbar-menu ul#toolbar-home li.last a{
  border-right: 0;
}
#toolbar div.toolbar-menu ul#toolbar-home a{
  .add-icon(@fa-var-home);
  text-align: center;

  span{
    .hide();
  }

  &:before{
    font-size: 1.3em;
    height: 34px;
    width: 15px;
  }
}

#toolbar div.toolbar-menu a.toggle{
  background: @inverse-bg;
  text-indent: 0;
  text-align: center;
  .border-top(lighten(@border-color-inverse, 10%));
  .border-left(lighten(@border-color-inverse, 10%));
  .border-right(lighten(@border-color-inverse, 10%));
  color: darken(@inverse-text-color, 10%);
  .add-icon(@fa-var-caret-down);
}
#toolbar div.toolbar-menu a.toggle-active.toggle:focus, #toolbar div.toolbar-menu a.toggle-active.toggle:hover{
  color: @inverse-text-color;
}
#toolbar div.toolbar-menu a.toggle-active{
  margin-bottom: -1px;
}

/**
 * JQuery UI
 */

.ui-widget-overlay{
  background:transparent;
  background-color: @modal-backdrop-bg;
  .opacity(@modal-backdrop-opacity);
  z-index: @zindex-modal - 10 !important;
}

.ui-dialog{
  .modal;

  #edit-options{
    margin-top: 0;
    background:transparent;
  }
}

.ui-widget-content,
.ui-widget-header{
  background: @light-bg;
  color: @text-color;
  .unset-border();
}

/**
 * Ctools
 */

 #modalContent{
  z-index: @zindex-modal !important;
 }

.ctools-modal-dialog .form-actions{
  position: absolute;
  bottom: 0;
  left:0;
  right: 2px;
  margin-bottom: 0;
  .modal-footer;
}

.ctools-wizard a{
  cursor: default;
}

html.js div.ctools-dropdown div.ctools-dropdown-container{
  -webkit-border-top-right-radius:0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin:0;
  padding:0;
  min-width: 180px;
  width: auto;
  .light-shadow;
  border-color:@border-color;

  ul > li > a {
    display: block;
    padding:@half-space @default-space;
    clear: both;
    font-weight: normal;
    line-height: @line-height-base;
    color: @dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines

    &:hover,
    &:focus {
      text-decoration: none;
      color: @dropdown-link-hover-color;
      .dark-bg;
    }
  }
}

html.js div.ctools-dropdown a.ctools-dropdown-text-link {
  background: transparent;
  padding-left: 0;
  .add-icon(@fa-var-caret-down);

  &:before{
    padding-right: 3px;
  }
}

.ctools-collapsible-container .ctools-toggle{
  background: transparent;
  .add-icon(@fa-var-caret-down);

  &:before{
    padding-right: 3px;
  }
}

.ctools-collapsible-container .ctools-toggle-collapsed{
  background: transparent;
  .add-icon(@fa-var-caret-right);
}

.ctools-button{
  .btn;
  .btn-default;
}

.ctools-dropbutton{
  min-height: @input-height-base;
  line-height: @input-height-base;
  padding:@padding-base-vertical 0 @padding-base-vertical @padding-base-horizontal;
  .border(@input-border);
  .round-border;
  color:@text-color;
  .bold;
   #gradient > .vertical(@light-bg, darken(@light-bg, 5%));

   a{
    color:@text-color;

    &:hover,
    &:focus{
      color: @link-color;
    }
   }

   .ctools-link{
    .border-left(@input-border);
    background:none;
    width:@input-height-base;
    text-align:center;
   }

   .ctools-content{
     margin-right:@input-height-base + @padding-base-vertical;
   }

  .ctools-twisty{
    right: 14px;
    top: 14px;
  }
}

/**
 * Book
 */
 .book-navigation .nav{
  .nav.nav-list;
 }

  .book-navigation .page-links{
  .pager;
 }

/**
 * Views
 */
.view-header,
.view-content {
  .clearfix();
}
.form-item,
.form-item .form-item {
  margin-top: 0;
}

.views-exposed-form .views-exposed-widgets {
  padding-bottom: @default-space;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
}
.views-exposed-form .views-exposed-widget {
  padding-top: @third-space;
}
.views-exposed-form .views-exposed-widget.views-submit-button {padding-right: @third-space;}
.exposed-form.form-inline,
.container-inline-date {
  .control-label {
    float: left;
    line-height: @input-height-base;
    padding-right: @default-space;
  }
}

.form-inline .views-widget {
  float: left;
}
