// @import (reference) "caffelatte-base.less"; /* Custom variables */
/* Variables */
@import (reference) "../assets/less/variables-font-awesome.less";
@import (reference) "../assets/less/font-awesome.less";
@import (reference) "../assets/less/variables-custom.less";
@import (reference) "../assets/less/variables.less";
@import (reference) "../assets/vendor/bootstrap/less/mixins.less";
@import (reference) "../assets/vendor/bootstrap/less/mixins/clearfix.less";
@import (reference) "../assets/vendor/bootstrap/less/utilities.less";
@import (reference) "../assets/vendor/bootstrap/less/type.less";
@import (reference) "../assets/vendor/bootstrap/less/navs.less";
@import (reference) "../assets/less/mixins.less";
@import (reference) "../assets/less/mixins/navs.less";
@import (reference) "../assets/less/components/navs.less";
@import (reference) "../assets/less/backgrounds.less";

/**
 * Vertical tabs
 */
div.vertical-tabs{
  border:none;
  margin-top: 0;
  margin-left: -1px;
  margin-right: 0;
  .tabs;
  .tabs-vertical;
  width:100.5%;
}
.vertical-tabs ul.vertical-tabs-list{
  .nav;
  display: table-cell;
  height: 100%;
  float: none;
  padding: 0;
  vertical-align: top;
  position:relative;
  .darker-bg;
  .border(@nav-tabs-border-color);
  .drop-shadow(1px, 0);

  > li {
    display: block;
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    background: transparent;

    > a {
      display: block;
      border-left: none;
      border-top: none;
      border-bottom: 1px solid @nav-tabs-border-color;
      border-right: 1px solid @nav-tabs-border-color;
      border-radius: 0;
      line-height:normal;
      padding-top: @half-space + @third-space;
      padding-bottom: @half-space + @third-space;
      margin-right: -1px;
      line-height: @line-height-base;
      #gradient > .vertical(lighten(@darker-bg, 3%), lighten(@darker-bg, 1%));
      color:lighten(@text-color, 10%);
      .semi-bold;
      .transition(none);

      &:hover{
        .box-shadow(inset 0 0 @default-space 0 rgba(red(@inverse-bg), green(@inverse-bg), blue(@inverse-bg), 0.06));
        text-decoration:none;
        outline:none;
      }

      &:focus{
        .unset-shadow;
      }

      .summary{
        display: block;
        font-weight: normal;
        .text-sm;
      }
    }

    &.selected{
      background: @nav-tabs-active-link-hover-bg;
    }

    &.selected > a {
      &,
      &:hover,
      &:focus {
        position:relative;
        border-right:none;
        border-left:none;
        border-top:none;
        background: @light-bg;

        .badge{
          background-color: @gray-light;
        }
      }

      &:after{
        content: '';
        position: absolute;
        z-index:2;
        top: 0;
        bottom:0;
        right:-3px;
        left:auto;
        height: 100%;
        width: 3px;
        background: @light-bg;
      }
    }

    &:first-child a{
      &,
      &:hover,
      &:focus{
        border-left:none;
      }
    }
  }
}

.vertical-tabs ul.vertical-tabs-list{
  width:25%;
}

.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
}
.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: none;
}

.vertical-tabs-panes{
  display: table-cell;
  .border-top;
  border-left:none;
  .border-bottom;
  .border-right;
  padding:@default-space 0;
  .light-bg;
  width: 75%;
}

.vertical-tabs-pane > .fieldset-wrapper,
.vertical-tabs-pane > .legend{
  width:100%;
  padding-left: 0;
  padding-right: 0;

  > .row{
    margin-left: 15px;
    margin-right: 15px;
  }
}

.vertical-tabs-pane > legend{
  width: 100%;
}
