/**
 * Views Admin
 */

@import (reference) "../assets/less/variables-font-awesome.less";
@import (reference) "../assets/less/font-awesome.less";
@import (reference) "../assets/less/variables-custom.less";
@import (reference) "../assets/less/variables.less";
@import (reference) "../assets/vendor/bootstrap/less/mixins.less";
@import (reference) "../assets/vendor/bootstrap/less/mixins/clearfix.less";
@import (reference) "../assets/vendor/bootstrap/less/utilities.less";
@import (reference) "../assets/vendor/bootstrap/less/type.less";
@import (reference) "../assets/less/mixins.less";
@import (reference) "../assets/vendor/bootstrap/less/mixins/buttons.less";
@import (reference) "../assets/vendor/bootstrap/less/buttons.less";
@import (reference) "../assets/less/mixins/buttons.less";
@import (reference) "../assets/less/elements/buttons.less";
@import (reference) "../assets/vendor/bootstrap/less/labels.less";
@import (reference) "../assets/less/components/labels.less";

.form-submit:not(.js-hide) + .form-submit, .views-admin a.button:not(.js-hide) + a.button {
    margin-left: @third-space;
}

.views-display-top .btn{
  .btn-xs;
}

.views-display-setting .label{
  color: @text-color;
}

.views-display-column .exposed-form{
  margin-top:0;
}

.views-filterable-options .even .form-type-checkbox{
  background: @body-bg;
}

ul#views-display-menu-tabs li{

  a{
    .label;
    .label-info;

    &.error{
      .unset-border();
      .label-danger;
    }
  }

  &.active{
    a{
      .label-default;

      &.error{
        .unset-border();
        .label-danger;
      }
    }
  }
}

.views-displays .secondary a{
  .unset-border();
  padding: 0;
  background:transparent;
}

.views-admin .icon, .views-admin .icon-text{
  background:transparent;
  display: inline;
}

.views-admin .icon.add{
  .add-icon(@fa-var-plus-circle);
}

.views-admin span.icon{
  float: none;
}

.views-ui-display-tab-bucket .ctools-button{
  .btn-sm;
}

.views-ui-display-tab-bucket .ctools-dropbutton,
.views-display-top .ctools-dropbutton{
  min-height: @input-height-small;
  line-height: @input-height-small;
  padding:@padding-small-vertical 0 @padding-small-vertical @padding-small-horizontal;

  .ctools-link{
    width:@input-height-small;
   }

   .ctools-content{
     margin-right:@input-height-small + @padding-small-vertical;
   }

  .ctools-twisty{
    right: 10px;
    top: 10px;
  }
}

.views-ui-dialog .ui-dialog-titlebar-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  .unset-border();
  .unset-shadow();

  .add-icon(@fa-var-times);
}

.views-ui-dialog #views-ajax-title, .views-ui-dialog .views-override{
  position:relative;
  .round-border(0);
  .border(@border-color-dark);
   background: @darker-bg;
   padding: @half-space @default-space;
}

.views-ui-dialog .form-buttons{
  background: @dark-bg;
  .border;
  .round-border(0);
  margin-top:-1px;
  padding: @default-space;
}

.views-ui-dialog .scroll{
  .unset-border();
  background: @light-bg;
  .inner-shadow;
}

.views-admin .icon{
  width: 1.28571429em;
  height: auto;
}
