/**
 * @file
 * backgrounds.less.
 */

.unset-bg-color{background-color: transparent;}

.base-bg{background-color:@body-bg;}
.light-bg{background-color:@light-bg;}
.dark-bg{background-color:@dark-bg;}
.darker-bg{background-color:@darker-bg;}
.inverse-bg{background-color:@inverse-bg;}

/* -top section dark gradient */
.gradient-darker{                #gradient > .vertical(@inverse-bg, @dark-inverse-bg);}
/* -top section default button */
@grad-dark-light: lighten(@inverse-bg, 2%);
@grad-dark-dark: darken(@dark-inverse-bg, 2%);
.gradient-dark{                  #gradient > .vertical(@grad-dark-light, @grad-dark-dark);}
.gradient-dark-hover{            #gradient > .vertical(darken(@grad-dark-light, 8%), darken(@grad-dark-dark, 8%));}
.gradient-dark-inverse-hover{    #gradient > .vertical(darken(@grad-dark-dark, 8%), darken(@grad-dark-light, 8%));}

.highlighted{
  .bg-primary;
  padding:0 @third-space;
}

.bg-primary {
  .inverse-text-color;
  .bg-variant(@brand-primary);
}
.bg-success {
  .inverse-text-color;
  .bg-variant(@brand-success);
}
.bg-info {
  .inverse-text-color;
  .bg-variant(@brand-info);
}
.bg-warning {
  .inverse-text-color;
  .bg-variant(@brand-warning);
}
.bg-danger {
  .inverse-text-color;
  .bg-variant(@brand-danger);
}

.bg-primary.styled-bordered{
  .bg-variant-styled(@brand-primary);
  .box-variant-bordered(@brand-primary);
}
.bg-info.styled-bordered{
  .bg-variant-styled(@brand-info);
  .box-variant-bordered(@brand-info);
}
.bg-success.styled-bordered{
  .bg-variant-styled(@brand-success);
  .box-variant-bordered(@brand-success);
}
.bg-warning.styled-bordered{
  .bg-variant-styled(@brand-warning);
  .box-variant-bordered(@brand-warning);
}
.bg-danger.styled-bordered{
  .bg-variant-styled(@brand-danger);
  .box-variant-bordered(@brand-danger);
}
.bg-dark.styled-bordered{
  .bg-variant-styled(@inverse-bg);
  .box-variant-bordered(@inverse-bg);
}

.bg-primary.styled{
  .bg-variant-styled(@brand-primary);
}
.bg-info.styled{
  .bg-variant-styled(@brand-info);
}
.bg-success.styled{
  .bg-variant-styled(@brand-success);
}
.bg-warning.styled{
  .bg-variant-styled(@brand-warning);
}
.bg-danger.styled{
  .bg-variant-styled(@brand-danger);
}
.bg-dark.styled{
  .bg-variant-styled(@inverse-bg);
}

.bg-primary.bordered{
  .box-variant-bordered(@brand-primary);
}
.bg-info.bordered{
  .box-variant-bordered(@brand-info);
}
.bg-success.bordered{
  .box-variant-bordered(@brand-success);
}
.bg-warning.bordered{
  .box-variant-bordered(@brand-warning);
}
.bg-danger.bordered{
  .box-variant-bordered(@brand-danger);
}
.bg-dark.bordered{
  .box-variant-bordered(@inverse-bg);
}

.bg-primary.styled-alt{
  .bg-variant-styled-alt(@brand-primary);
}
.bg-info.styled-alt{
  .bg-variant-styled-alt(@brand-info);
}
.bg-success.styled-alt{
  .bg-variant-styled-alt(@brand-success);
}
.bg-warning.styled-alt{
  .bg-variant-styled-alt(@brand-warning);
}
.bg-danger.styled-alt{
  .bg-variant-styled-alt(@brand-danger);
}
.bg-dark.styled-alt{
  #gradient.vertical(@dark-inverse-bg; @inverse-bg; 0%; 30%);
  .text-inverse;
}
