/**
 * @file
 * elements/buttons.less.
 */

.btn{
  .text-shadow();
}

.btn + .btn{
  margin-left: @third-space;
}

.input-group-lg > .input-group-addon{
  font-size: 15px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.btn-default{
  .text-shadow(#fff);
  border-color: @btn-default-border;

  &:not(.btn-flat) {
    @light: lighten(@gray-lighter, 16%);
    @dark: @gray-lighter;
    #gradient > .vertical(@light, @dark);

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > .dropdown-toggle&{
      border-color: @btn-default-border;
      #gradient > .vertical(lighten(@light, 5%), lighten(@dark, 5%));
    }

    &.disabled,
    &[disabled]{
      #gradient > .vertical(darken(@light, 12%), darken(@dark, 12%));
      color:lighten(@btn-default-color, 12%);
    }
  }
}

.btn-primary {
  &:not(.btn-flat) {
    @light: lighten(@btn-primary-bg,8%);
    @dark: darken(@btn-primary-bg,8%);

    .button-gradient(@light, @dark);
  }
}
// Success appears as green
.btn-success {
  &:not(.btn-flat) {
    @light: lighten(@btn-success-bg,5%);
    @dark: darken(@btn-success-bg,11%);

    .button-gradient(@light, @dark);
  }
}
// Info appears as blue-green
.btn-info {
  &:not(.btn-flat) {
    @light: lighten(@btn-info-bg,4%);
    @dark: darken(@btn-info-bg,12%);

    .button-gradient(@light, @dark);
  }
}
// Warning appears as orange
.btn-warning {
  &:not(.btn-flat) {
    @light: lighten(@btn-warning-bg,5%);
    @dark: darken(@btn-warning-bg,14%);

    .button-gradient(@light, @dark);
  }
}
// Danger and error appear as red
.btn-danger {
  &:not(.btn-flat) {
    @light: lighten(@btn-danger-bg,8%);
    @dark: darken(@btn-danger-bg,8%);

    .button-gradient(@light, @dark);
  }
}

.btn-inverse{
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
  &:not(.btn-flat) {
    @light: @inverse-bg;
    @dark: @dark-inverse-bg;

    .button-gradient(@light, @dark);
  }
}

.btn-flat {
  text-shadow: none;
}

.btn-facebook,
.btn-facebook:active,
.btn-facebook:hover,
.btn-facebook:focus,
.btn-twitter,
.btn-twitter:active,
.btn-twitter:hover,
.btn-twitter:focus,
.btn-gplus,
.btn-gplus:active,
.btn-gplus:hover,
.btn-gplus:focus {
  color: #FFF;
  font-weight: 300;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.btn-facebook,
.btn-facebook:focus {
  background: #3B5998;
  border: 1px solid #37538D;
}

.btn-facebook:hover {
  background: #4162a7;
  border-color: #3d5c9c;
}

.btn-facebook:active {
  background: #37538d;
  border-color: #334d82;
}

.btn-twitter,
.btn-twitter:focus {
  background: #55ACEE;
  border: 1px solid #47A5ED;
}

.btn-twitter:hover {
  background: #63b3ef;
  border-color: #55acee;
}

.btn-twitter:active {
  background: #47a5ed;
  border-color: #399eec;
}

.btn-gplus,
.btn-gplus:focus {
  background: #D95232;
  border: 1px solid #D44927;
}

.btn-gplus:hover {
  background: #dc6143;
  border-color: #da5635;
}

.btn-gplus:active {
  background: #d04727;
  border-color: #c34324;
}
