/**
 * @file
 * elements/buttons-socials.less.
 */

.btn-social{
  color: #FFFFFF;
  font-weight: 300;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
}

.btn-facebook,
.btn-twitter,
.btn-googleplus{
  .btn-social;
}

.btn-facebook{
  .btn-variant-social(@color-facebook);
}
.btn-twitter{
  .btn-variant-social(@color-twitter);
}
.btn-googleplus{
  .btn-variant-social(@color-googleplus);
}
.btn-github{
  .btn-variant-social(@color-github);
}
.btn-linkedin{
  .btn-variant-social(@color-linkedin);
}
.btn-dropbox{
  .btn-variant-social(@color-dropbox);
}
.btn-yahoo{
  .btn-variant-social(@color-yahoo);
}
