/**
 * @file
 * elements/fieldset.less.
 */

legend{
  font-size:@font-size-base;
  float: left;

  a{color:@gray;}

  .fieldset-legend{
     color:@gray;
     text-transform:uppercase;
  }

  .@{fa-css-prefix} + .fieldset-legend{
    padding-left:@half-space;
  }

  .summary{
    display:block;
    font-weight:normal;
    font-size:@font-size-small;
    color:@gray;
    text-transform:none;
  }
}

fieldset{
  .border-bottom;

  &.collapsible{
    .custom-caret{
      &:before{content:@fa-var-caret-down};
    }

    legend{
      cursor:pointer;
    }

    &.collapsed{
      .custom-caret{
        &:before{content:@fa-var-caret-right};
      }

      legend{
        width:100%;

        .summary{
          display:inline-block;
        }
      }

      > legend.has-error{
        .fieldset-legend,
        .fieldset-legend a{
          color: @state-danger-text;
        }
      }

      .fieldset-wrapper{
        display:none;
      }
    }
  }
}
