/**
 * @file
 * elements/file-input.less.
 */

.file-preview{
  .light-bg;
}
.file-preview {
    .round-border();
    border: 1px solid @border-color-dark;
    .inner-shadow(0, 2px, 3px);
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.file-drop-zone {
    border: 1px dashed @border-color-dark;
    .round-border(4px);
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px;
}

.file-preview-frame {
  display: table;
  border-color: @border-color;
  border-radius: 0;
  .light-bg;
  .drop-shadow-curved;
  padding: 6px;
  margin: 8px;
  text-align:center;

  .img-thumbnail, .thumbnail {
    .unset-shadow;
    .unset-border;
  }
}

.file-preview-frame:not(.file-preview-error):hover {
    .drop-shadow-curved;
}

.file-footer-caption{
  text-transform: uppercase;
  margin: 10px 0 2px;
  padding-bottom: 2px;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;

  small {
    position: relative;
    top: 0;
    left: 0;
    color: @text-muted;
    z-index: 1;
    font-size: 9px;
    font-size: 0.9rem;
  }
}

.file-preview-frame, .file-preview-image, .file-preview-other {
    vertical-align: middle;
    height: 160px;
    width: 160px;
}

.file-preview-other{
  border:none;
}

.file-icon-4x {
    font-size: 4.8em;
}

.file-thumbnail-footer {
    position: relative;
}
