/**
 * @file
 * elements/forms.less.
 */

.field-prefix,
.field-suffix{
  color: @text-muted;
}

.form-control{
  .inner-shadow(0, 2px, 3px);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control{
  color:@gray;
  .unset-shadow;
}

.control-label{
  .semi-bold();
}

.input-inverse{
  border-color: @border-color-inverse;
}

.input-group-addon.btn-primary,
.input-group-addon.btn-info,
.input-group-addon.btn-success,
.input-group-addon.btn-warning,
.input-group-addon.btn-danger{
  color: @inverse-text-color;
}

select{
  .bold;
  cursor:pointer;

  option{
    line-height:1.3em;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: @light-bg !important;
  color: @text-color !important;
}

.exposed-form,
#edit-filters{
  .dark-bg;
  padding: @default-space @default-space 0 @default-space;
  margin-top: -@default-space;
  .border-top();
}

#edit-options{
   margin-top: -@default-space - 4;
   padding-top: @default-space;
  .base-bg;
}
