/**
 * @file
 * elements/help-text.less.
 */

.form-description,
.help-text,
.help-block,
.help-inline{
  color:@gray-light;
  padding:5px 0;
  padding:0.5rem 0;
  margin-top: 0;
}

.popover-form-description{
  min-width:280px;

  .@{fa-css-prefix} {
    font-size:1.3em;
    .text-info;
    padding-right:@third-space;
  }
}

.form-description-icon{
  padding-left:@half-space;
  cursor:pointer;

  .@{fa-css-prefix} {
    color:@brand-info;

    &.text-muted{
     color:@text-muted;
    }
  }
}

.form-description-wrapper{
  position: relative;
  padding-right: 23px;
}

.form-description-wrapper .form-description-icon{
  position:absolute;
  right: 0;
  bottom: 10px;
}
