/**
 * @file
 * elements/lists.less.
 */

/**
 * Bulleted list.
 */
.list-bullet{
  position: relative;

  a{
      display:block;
      .base-text-color;
      margin: 0 -@default-space;
      padding:@third-space @default-space @third-space @double-space;

      &:hover,
      &:focus {
       .base-text-color;
       background:rgba(red(@inverse-bg), green(@inverse-bg), blue(@inverse-bg), 0.1);
      }
  }

  &:before{
    .border(lighten(@text-color, 35%), 4px);
    .round-border(100%);
    content: '';
    display: inline-block;
    left: 0;
    top:@half-space + 2;
    position: absolute;
    z-index: 999;
  }
}
.list-bullet-primary{
  &:before{
    border-color:@state-primary-text;
  }
}
.list-bullet-info{
  &:before{
    border-color:@state-info-text;
  }
}
.list-bullet-success{
  &:before{
    border-color:@state-success-text;
  }
}
.list-bullet-warning{
  &:before{
    border-color:@state-warning-text;
  }
}
.list-bullet-danger{
  &:before{
    border-color:@state-danger-text;
  }
}
.list-bullet-dark{
  &:before{
    border-color:@inverse-bg;
  }
}

/**
 * Bulleted separated.
 */
.list-separeted {
  .list-unstyled();
  margin-left: -5px;

  > li {
    display: inline-block;


    &:after{
      content: '\007C';
      line-height:0.8em;
      .text-sm;
      .text-muted;
      padding-left: 8px;
      padding-right: 6px;
    }

    &:last-child{
      &:after{content: ""; padding:0; }
    }
  }
}
