/**
 * @file
 * elements/slider.less.
 */

.ui-slider.ui-widget-content {
  background-color:@darker-bg;
  .border(lighten(@border-color-darker, 5%));
}

.ui-slider-horizontal {
  height: 9px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -7px;
}

.ui-slider-vertical {
  display: inline-block;
  width: 9px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -7px;
}

.ui-slider .ui-slider-handle {
  .border(lighten(@border-color-darker, 5%));
  .round-border(@border-radius-small);
  #gradient > .vertical(lighten(@darker-bg, 8%), darken(@darker-bg, 3%));
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:focus {
  #gradient > .vertical(lighten(@darker-bg, 11%), @darker-bg);
  .drop-shadow;
  outline: none;
  .border(lighten(@border-color-darker, 5%));
}

.ui-slider .ui-slider-handle {
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  background: darken(@darker-bg, 20%);
}

.slider-primary .ui-slider-range{
  background: @brand-primary;
}

.slider-info .ui-slider-range{
  background: @brand-info;
}

.slider-success .ui-slider-range{
  background: @brand-success;
}

.slider-warning .ui-slider-range{
  background: @brand-warning;
}

.slider-danger .ui-slider-range{
  background: @brand-danger;
}

.slider-dark .ui-slider-range{
  background: @inverse-bg;
}

.slider{
  margin-top: 15px;
}

#slider-tooltip{
  z-index: @zindex-tooltip;
  width:auto;
  min-width:35px;
  height:25px;
  padding:@third-space;
  font-family: @font-family-base;
  font-size: @font-size-small;
  font-weight: normal;
  line-height: 1.4;
  text-align:center;
  background: @light-bg;
  .border;
  .arrow(@light-bg, bottom, 5px, 15px, 1px, @border-color);
  .popover-shadow;
}
