/**
 * @file
 * elements/spinner.less.
 */

.spinbox{
  position: relative;
}

.spinbox .spinbox-buttons {
  position: absolute;
  height: @input-height-base;
  width: 20px;
  top:0;
  right: 0;
}

.spinbox .spinbox-buttons > .btn{
  height: @input-height-base / 2;
  padding: 0;
}

.spinbox .spinbox-buttons > .btn:first-child:not(:last-child):not(.dropdown-toggle){
  border-top-left-radius: 0;
  border-top-right-radius: @border-radius-base;
}

.spinbox .spinbox-buttons > .btn:last-child{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: @border-radius-base;
  height: (@input-height-base / 2) + 1px;
}

.spinbox-sm .spinbox-buttons{
  height: @input-height-small;
}

.spinbox-sm .spinbox-buttons > .btn{
  height: @input-height-small / 2;
}

.spinbox-sm .spinbox-buttons > .btn:first-child:not(:last-child):not(.dropdown-toggle){
  border-top-right-radius: @border-radius-small;
}

.spinbox-sm .spinbox-buttons > .btn:last-child{
  border-bottom-right-radius: @border-radius-small;
  height: (@input-height-small / 2) + 1px;
}

.spinbox-lg .spinbox-buttons{
  height: @input-height-large;
}

.spinbox-lg .spinbox-buttons > .btn{
  height: @input-height-large / 2;
}

.spinbox-lg .spinbox-buttons > .btn:first-child:not(:last-child):not(.dropdown-toggle){
  border-top-right-radius: @border-radius-large;
}

.spinbox-lg .spinbox-buttons > .btn:last-child{
  border-bottom-right-radius: @border-radius-large;
  height: (@input-height-large / 2) + 1px;
}

.spinbox input[type=number] {
  -moz-appearance: textfield;
}

.spinbox input[type=number]::-webkit-inner-spin-button,
.spinbox input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
