/**
 * @file
 * elements/tables.less.
 */

.table{
  .light-bg;
}

.table > thead{
  .border-top();
}

.table-row-variant(primary; @state-primary-bg; @state-primary-text);
.table-row-variant(info; @state-info-bg; @state-info-text);
.table-row-variant(success; @state-success-bg; @state-success-text);
.table-row-variant(warning; @state-warning-bg; @state-warning-text);
.table-row-variant(danger; @state-danger-bg; @state-danger-text);

/* Inverse row */
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    > td.dark,
    > th.dark,
    &.dark > td,
    &.dark > th {
      background-color: @inverse-bg;
      .inverse-text-color;
    }
}

/* Hover states for inverse table row */
.table-hover > tbody > tr {
    > td.dark:hover,
    > th.dark:hover,
    &.dark:hover > td,
    &:hover > .dark,
    &.dark:hover > th {
      background-color: lighten(@inverse-bg, 5%);
    }
}

td.actions a{
  padding-right: @half-space;
}

