/**
 * @file
 * mixins/buttons-socials.less.
 */

.btn-variant-social(@color){
  &,
  &:focus{
    background: @color;
    border-color: darken(@color, 3%);
  }

  &:hover{
    @lighten: lighten(@color, 4%);
    background: @lighten;
    border-color: darken(@lighten, 3%);
  }

  &:active{
    @darken: darken(@color, 3%);
    background: @darken;
    border-color: darken(@darken, 3%);
  }
}
