/**
 * @file
 * mixins/common.less.
 *
 * Common mixins.
 */

.content(@content: "\00a0"){
  content: @content;
}

.unset-margin{           margin:0;}
.unset-padding{          padding:0;}
.unset-margin-padding{
                        margin: 0;
                        padding: 0;
}
.mt-unset{margin-top:0;}
.mb-unset{margin-bottom:0;}
.ml-unset{margin-left:0;}
.mr-unset{margin-right:0;}
.pt-unset{padding-top:0;}
.pb-unset{padding-bottom:0;}
.pl-unset{padding-left:0;}
.pr-unset{padding-right:0;}

.blk{display:block !important;}
.ib{
  display: inline-block;
}
.clear{
  clear: both;
}

.unset-appearance{
  -webkit-appearance:none;
     -moz-appearance:none;
       -o-appearance:none;
          appearance:none;
}

.highlight{
  .transition(all 0.20s linear);
}
