/**
 * @file
 * mixins/forms-wizard.less.
 *
 * Custom form wizards mixins.
 */

.wizard-tabs-colorize(@color){
  .wizard-tabs ul > li.active > a{
    &,
    &:hover,
    &:focus{
      color: @color;
    }

    .badge {
      background-color: @color;
    }
  }
}
