/**
 * @file
 * mixins/icon.less.
 *
 * Add icon mixins.
 */

.add-icon(@content: "\00a0", @position: before) when ( @position = before){
  &:before{
    .content(@content);
    .fa-icon();
  }
}
.add-icon(@content: "\00a0", @position: before) when ( @position = after){
  &:after{
    .content(@content);
    .fa-icon();
  }
}
