/**
 * @file
 * mixins/navs.less.
 *
 * Add navigation components mixins.
 */

/**
 * Colorize tabs.
 */
.nav-tabs-colorize(@type){
  @color: ~"@{state-@{type}-text}";
  @hover-color:~"@{brand-@{type}}";
  > li {
    > a {
      color:@color;
      &:hover {
        color:@hover-color;
      }
      .badge{
        background-color: @color;
      }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        color:@hover-color;
      }
      .badge{
        background-color: @hover-color;
      }
    }
  }
}
