/**
 * @file
 * mixins/panels.less.
 *
 * Add panel component mixins.
 */

.panel-colorize(@color){

  > .panel-heading{
      .box-variant-styled-bordered(@color);

      .panel-actions a{
          .opacity(0.75);

          &:hover,
          &:focus{
            color: @inverse-text-color !important;
            .opacity(1);
          }
      }
  }

}

.panel-footer-colorize(@color){
  > .panel-footer{
      .bg-variant-darken(@color);
  }
}
