/**
 * @file
 * mixins/shadows.less.
 *
 * Add shadows mixins.
 */

 .unset-shadow{
  .box-shadow(none);
}

.drop-shadow(@position: @shadow-position, @distance: @shadow-distance, @blur: @shadow-blur, @color: @light-shadow){
  .box-shadow(@position @distance @blur @color);
}

.inner-shadow(@position: @shadow-position, @distance: @shadow-distance, @blur: @shadow-blur, @color: @light-shadow){
  .box-shadow(inset @position @distance @blur @color);
}

.inner-shadow(@color: @light-shadow){
  .box-shadow(inset @shadow-position @shadow-distance @shadow-blur @color);
}

.light-shadow{
  .drop-shadow;
}

.popover-shadow{
  .drop-shadow(0, 2px, 4px);
}

.strong-shadow{
  .drop-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.1));
}

.drop-shadow-curved(@blur: @shadow-blur, @color: @light-shadow){
  position:relative;
   -webkit-box-shadow:0 1px @blur @color, 0 0 (@blur * 2) @color inset;
             box-shadow:0 1px @blur @color, 0 0 (@blur * 2) @color inset;

  &:after,
  &:before{
    content:"";
      position:absolute;
      z-index:-1;
      .box-shadow(0 0 15px darken(@color, 5%));
      top:50%;
      bottom:0;
      left:5px;
      right:5px;
      .round-border(15%);
  }
}
