/**
 * @file
 * mixins/typo.less.
 */

.text-xl{          font-size: 1.2em;}
.text-lg{           font-size: 1.1em;}
.text-sm{           font-size: 0.9em;}
.text-xs{         font-size: 0.8em;}
.bold{                 font-weight: 700;}
.semi-bold{            font-weight: 600;}
.italic{               font-style: italic;}
.uppercase{            text-transform:uppercase;}
.heading{
  .uppercase;
  line-height:1.3em;
}
.line-through{
  text-decoration: line-through;
}

.text-dark{
  color:#000000;
}
.base-text-color{color: @text-color;}
.inverse-text-color{color: @inverse-text-color;}
.text-inverse{
  .inverse-text-color;

  &,
  *{.inverse-text-color;}

  .view-more a,
  a{
    .opacity(0.80);
    font-weight: 600;

    &:hover,
    &:focus{
      .inverse-text-color;
      .opacity(1);
    }
  }
}
.inverse-text-color-highlight{color: @inverse-text-highlight-color;}
.link-color{color:@link-color;}
.link-color-highlight{color:@link-hover-color;}
.alt-link-color{color:@alt-link-color;}
.alt-link-color-highlight{color:@alt-link-hover-color;}
.alt-link{
  .alt-link-color;
  &:hover,
  &:focus{
    .alt-link-color-highlight;
  }
}

.truncate{
  .text-overflow();
}
.view-more{
  display: block;
  color: @text-muted;
  .text-sm;
  text-align: right;
  .uppercase;
  line-height: 1.3em;

  a{
    color: @text-muted;

    &:hover,
    &:focus{
      color:@link-color;
    }
  }
}

.line-thru{
  display:block;
  text-align: center;
  position: relative;
  color: @gray-light;

  span{
    display: inline-block;

    &:before,
    &:after {
        .border-top();
        display: block;
        height: 1px;
        content: " ";
        width: 42%;
        position: absolute;
        left: 0;
        top: 0.6em;
    }
    &:after {
        right: 0;
        left: auto;
    }
  }
}
