/**
 * @file
 * mixins/widget.less.
 *
 * Add widget mixins.
 */

.widget-colorize(@color){
  .panel-body{
    .box-variant-styled-bordered(@color);

    .summary-footer{
      .bg-variant-darken(@color);

      .change{.inverse-text-color; .opacity(0.9);}
    }
  }

  .widget-icon,
  .widget-icon i{
    color: spin(darken(@color, 12%), -3);
  }
}

.widget-icon-colorize(@color){
  .widget-icon{
    color: @color;
  }
}

.widget-icon-background-colorize(@color){
  .widget-icon{
    background: spin(darken(@color, 8%), -3);
  }
}
