/**
 * @file
 * plugins/summernote.less.
 */

.note-editor,
.note-editor .note-toolbar,
.note-editor .note-statusbar .note-resizebar{
  border-color:@border-color-dark;
}

.note-editor .note-toolbar{
  background: @dark-bg;
  .drop-shadow;
  margin:0;
}

.note-editable{background: @light-bg;}
