/**
 * @file
 * components/accordation.less.
 */

.panel-accordation .panel-title a{
  display: block;
}

.panel-accordation .panel-title {
  margin-right: 0;
}

.accordation-actions + .panel-title{
  position: relative;
  z-index: 20;
}
