/**
 * @file
 * components/action-links.less.
 */

.action-links{
  display:inline-block;
  .box-sizing(content-box);
  .list-unstyled;

  li{
    display: block;
    float: left;
    padding-right:@third-space;
  }

  a.label{
    font-size:85%;
    font-weight:normal;

    .@{fa-css-prefix}{
      margin-right:@third-space;
    }
  }
}
