/**
 * @file
 * components/alerts.less.
 */

.alert{.light-shadow;}

.alert-default{
  .border;
  .light-bg;
}
.alert-primary {
  .alert-variant(@state-primary-bg; @state-primary-border; @state-primary-text);
  .alert-link {
    color: @link-color;
  }
}
.alert-dark{
  .border;
  .dark-bg;
}
/* Icons */
.alert .@{fa-css-prefix}{
  display: block;
  float:left;
  width: 1.28571429em;

  &.text-muted{color: @text-muted;}
  &.text-primary{.text-emphasis-variant(@brand-primary);}
  &.text-success{.text-emphasis-variant(@state-success-text);}
  &.text-info{.text-emphasis-variant(@state-info-text);}
  &.text-warning{.text-emphasis-variant(@state-warning-text);}
  &.text-danger{.text-emphasis-variant(@state-danger-text);}
  &.text-dark{.text-dark;}
}
.alert .@{fa-css-prefix}-lg{
  line-height: 1em;
}
.alert-dark .@{fa-css-prefix},
.alert-default .@{fa-css-prefix}{color: @state-info-text;}
.alert-primary .@{fa-css-prefix}{color:@state-primary-text;}
.alert-success .@{fa-css-prefix}{color: @state-success-text;}
.alert-info .@{fa-css-prefix}{color: @state-info-text;}
.alert-warning .@{fa-css-prefix}{color: @state-warning-text;}
.alert-danger .@{fa-css-prefix}{color: @state-danger-text;}

.alert .@{fa-css-prefix} + ul,
.alert .@{fa-css-prefix} + ol,
.alert .@{fa-css-prefix} + div,
.alert .@{fa-css-prefix} + p{
  padding-left: 2em;
}

.notification{
  .alert;
  .inverse-text-color;
  .inverse-bg;
  border-color:@border-color-inverse;
  @darken: darken(@inverse-bg, 10%);
  .inner-shadow(rgba(red(@darken), green(@darken), blue(@darken), 0.8));

  a{
    color: @link-color;

    &:hover,
    &:focus{
      color: @link-hover-color;
    }
  }

  .@{fa-css-prefix},
  .close{
    .inverse-text-color;
  }
}
.alert-primary.notification{
  .well-primary;
}
.alert-info.notification{
  .well-info;
}
.alert-success.notification{
  .well-success;
}
.alert-warning.notification{
  .well-warning;
}
.alert-danger.notification{
  .well-danger;
}
