/**
 * @file
 * components/carousel.less.
 */

.owl-theme .owl-controls .owl-buttons div{
  background: @inverse-bg;
}

.owl-theme .owl-controls .owl-page span{
  background: @inverse-bg;
}

.owl-carousel .item{
  margin:5px;
}
