/**
 * @file
 * components/form-wizard.less.
 */

.panel-body .wizard-tabs {
  margin: -15px -15px 15px -15px;
}

.wizard-tabs{
  margin-bottom: 15px;
  .border-top();
}

.wizard-tabs ul {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.wizard-tabs ul > li {
  display: table-cell;
  .border-bottom;
}

.wizard-tabs ul > li.active {
  border-bottom-color: transparent;
}

.wizard-tabs ul > li.active > a{
  &,
  &:hover,
  &:focus{
    background: @body-bg;
    .unset-shadow;
  }

  &:after{
    border-left-color: @body-bg;
  }

  .badge{
    background-color: @gray-light;
  }
}

.panel-body .wizard-tabs ul > li.active > a{
  &,
  &:hover,
  &:focus{
    background: white;
    color: @gray;
  }

  &:after{
    border-left-color: white;
  }
}

.wizard-tabs ul > li.disabled > a{
  &,
  &:hover,
  &:focus{
    color: lighten(@text-color, 30%);
  }

  .badge {
    background-color: lighten(@text-color, 30%);
  }
}

.wizard-tabs ul > li > a {
  position: relative;
  display: block;
  padding: 7px;
  font-size: 13px;
  font-size: 1.3rem;
  text-decoration: none;
  color: @text-color;
  .transition(none);
  .drop-shadow;

  &,
  &:hover{
    background: @dark-bg;
    color: @gray;
  }

  &:active,
  &:focus{
    border-bottom: 0;
  }

  &:before,
  &:after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 1;
    border: 17px solid transparent;
    border-right: 0;
    border-left: 10px solid transparent;
    width: 0;
    height: 0;
    margin-left:-1px;
  }

  &:before{
    z-index: 1;
    right: -11px;
    border-left-color: @border-color;
  }

  &:after{
    z-index: 2;
    border-left-color: @dark-bg;
  }
}

.wizard-tabs ul > li:last-child > a:before, .wizard-tabs ul > li:last-child > a:after {
  display: none;
}

.form-wizard-primary{
  .wizard-tabs-colorize(@brand-primary);
  .wizard-steps-colorize(@brand-primary);
  .progress-bar{
    .progress-bar-variant(@brand-primary);
  }
}

.form-wizard-info{
  .wizard-tabs-colorize(@brand-info);
  .pager{
    .pager-info;
  }
  .wizard-steps-colorize(@brand-info);
  .progress-bar{
    .progress-bar-variant(@brand-info);
  }
}

.form-wizard-success{
  .wizard-tabs-colorize(@brand-success);
  .pager{
    .pager-success;
  }
  .wizard-steps-colorize(@brand-success);
  .progress-bar{
    .progress-bar-variant(@brand-success);
  }
}

.form-wizard-warning{
  .wizard-tabs-colorize(@brand-warning);
  .pager{
    .pager-warning;
  }
  .wizard-steps-colorize(@brand-warning);
  .progress-bar{
    .progress-bar-variant(@brand-warning);
  }
}

.form-wizard-danger{
  .wizard-tabs-colorize(@brand-danger);
  .pager{
    .pager-danger;
  }
  .wizard-steps-colorize(@brand-danger);
  .progress-bar{
    .progress-bar-variant(@brand-danger);
  }
}

.wizard-progress {
  margin: 0 15px 15px 15px;
}

.wizard-progress .steps-progress {
  height: 2px;
  margin-left: 14%;
  margin-right: 14%;
  position: relative;
  top: 15px;
  background: darken(@darker-bg, 10%);
}

.wizard-progress .steps-progress .progress-indicator {
  height: 100%;
  width: 0;
  background: darken(@darker-bg, 10%);
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.wizard-progress .wizard-steps {
  display: table;
  margin: 0;
  padding: 15px 0 0;
  list-style: none;
}

.wizard-progress .wizard-steps li {
  -webkit-transition: margin 0.5s linear;
  -moz-transition: margin 0.5s linear;
  transition: margin 0.5s linear;
  position: relative;
  display: table-cell;
  text-align: center;
  width: 1%;
}

.wizard-progress .wizard-steps li a {
  position: relative;
  display: block;
  padding: 25px 8px 0;
  font-size: 11px;
  color: @text-color;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.wizard-progress .wizard-steps li a span {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  background: darken(@darker-bg, 10%);
  color: white;
  line-height: 26px;
  text-align: center;
  margin-top: -15px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 35px;
  font-size: 13px;
  text-indent: -1px;
  border: 2px solid darken(@darker-bg, 10%);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wizard-progress .wizard-steps li.completed {
  margin-left: -100%;
}

.wizard-progress .wizard-steps li.completed a span {
  background:darken(@darker-bg, 10%);
  color: white;
}

.wizard-progress .wizard-steps li.active {
  margin-left: 0;
}

.wizard-progress .wizard-steps li.active a span {
  background: white;
  color: @darker-bg;
  border-color: @darker-bg;
}

.wizard-steps-colorize(@color){
  .wizard-progress .wizard-steps li.active a span {
    color: @color;
    border-color: @color;
  }
}

.wizard-progress .wizard-steps li.completed.active a span {
  color: #FFF;
}

.wizard-progress.wizard-progress-lg {
  margin: 0 0 30px;
}

.wizard-progress.wizard-progress-lg .steps-progress {
  height: 4px;
  top: 30px;
}

.wizard-progress.wizard-progress-lg .wizard-steps {
  padding-top: 30px;
}

.wizard-progress.wizard-progress-lg ul li a {
  padding-top: 40px;
  font-size: 14px;
}

.wizard-progress.wizard-progress-lg ul li a span {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 60px;
  line-height: 52px;
  font-size: 22px;
  border-width: 4px;
}

@media only screen and (max-width: 991px) {
  .wizard-progress, .wizard-progress.wizard-progress-lg {
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .wizard-progress .steps-progress {
    display: none;
  }

  .wizard-progress .wizard-steps {
    display: block;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .wizard-progress .wizard-steps li {
    display: inline-block;
    float: none;
    position: relative;
    width: 100%;
  }

  .wizard-progress .wizard-steps li a {
    position: relative;
    z-index: 2;
  }

  .wizard-progress .wizard-steps li:before, .wizard-progress .wizard-steps li:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    width: 50%;
  }

  .wizard-progress .wizard-steps li:before {
    background: #cccccc;
    left: 0;
  }

  .wizard-progress .wizard-steps li:after {
    background: #cccccc;
    right: 0;
  }

  .wizard-progress .wizard-steps li.completed:after {
    background: #cccccc;
  }

  .wizard-progress .wizard-steps li:first-child:before {
    display: none;
  }

  .wizard-progress .wizard-steps li:last-child:after {
    display: none;
  }

  .wizard-progress.wizard-progress-lg .wizard-steps li:before, .wizard-progress.wizard-progress-lg .wizard-steps li:after {
    height: 4px;
  }
}

.form-wizard {
  margin-bottom: 20px;
}

.form-wizard .tabs {
  margin-bottom: 0;
}

.form-wizard .tab-content {
  .light-bg;
}

.form-wizard ul.pager .next a,
.form-wizard ul.pager .prev a,
.form-wizard ul.pager .first a,
.form-wizard ul.pager .last a,
.form-wizard ul.pager .finish a {
  cursor: pointer;
}
