/**
 * @file
 * components/inline-menu.less.
 */

.inline-menu li,
.inline-menu li ul{
  .blk;
  float: left;
}
.inline-menu li a{
  display: inline-block;
  float: left;
  padding:0 @default-space;
  .border-left;
  line-height:normal;
}
