/**
 * @file
 * components/navbar.less.
 */

.navbar{
  border-width: 0 0 1px 0;
  max-height: @navbar-height;
}

.navbar-collapse{
  background: transparent;
  border-top:none;
  .unset-shadow;
}

.navbar-inverse {
  .border-bottom(lighten(@border-color-inverse, 10%));
  .strong-shadow();

  .navbar-collapse{
    &.in,
    &.collapsing{
      background: @dark-inverse-bg;
      .border-bottom(lighten(@border-color-inverse, 10%));
      .border-top(lighten(@border-color-inverse, 10%));
      .strong-shadow();
    }
  }

  input{
    .input-inverse;
  }

  .btn{
    .btn-inverse;
  }

  .dropdown-menu{
    background-color: @navbar-inverse-link-active-bg;
    border-color: lighten(@border-color-inverse, 10%);
    color: @navbar-inverse-link-active-color;
    .strong-shadow;
    border-top: none;

    li{
      a{
        color: @navbar-inverse-link-active-color;

        &:hover,
        &:focus {
          background-color: darken(@navbar-inverse-link-active-bg, 5%);
        }
      }

      &.active{
        a{
          &,
          &:hover,
          &:focus{
            background-color: darken(@navbar-inverse-link-active-bg, 5%);
          }
        }
      }
    }
  }
}

.navbar-default{
  .border-bottom(@border-color-light);
  .light-shadow();

  .navbar-collapse{
    &.in,
    &.collapsing{
      background: @light-bg;
      .border-bottom(@border-color-light);
      .border-top(@border-color-light);
      .light-shadow();
    }
  }

  .dropdown-menu{
    background-color: @navbar-default-link-active-bg;
    color: @navbar-default-link-active-color;
    .light-shadow;
    border-top: none;

    li{
      a{
        color: @navbar-default-link-active-color;

        &:hover,
        &:focus {
          background-color: darken(@navbar-default-link-active-bg, 5%);
        }
      }

      &.active{
        a{
          &,
          &:hover,
          &:focus{
            background-color: darken(@navbar-default-link-active-bg, 5%);
          }
        }
      }
    }
  }
}
// Navbar toggle
.navbar-toggle{
  padding: 9px 14px;
  margin-bottom:0;
}

.navbar-btn {
  margin-top: @default-space;
  margin-bottom: @default-space;
}

.navbar-fixed-bottom{

  &.navbar-default{
    .border-top(@border-color-light);
    .drop-shadow(@shadow-position, -@shadow-distance);
  }

  &.navbar-inverse{
    .border-top(lighten(@border-color-inverse, 10%));
    .drop-shadow(0, -4px, 4px, rgba(0, 0, 0, 0.1));
  }
}
