/**
 * @file
 * components/pager.less.
 */

.pager-info{.pager-colorize(@brand-info);}
.pager-success{.pager-colorize(@brand-success);}
.pager-warning{.pager-colorize(@brand-warning);}
.pager-danger{.pager-colorize(@brand-danger);}

.pager li > a{
  &:hover,
  &:focus{
    color: @inverse-text-color;
  }
}
