/**
 * @file
 * components/scroll-top.less.
 */

.scroll-to-top {
  display: none;
  position:fixed;
  bottom: 0;
  right: @default-space;
  width: 44px;
  height:40px;
  line-height: 40px;
  text-align: center;
  .inverse-bg;
  .inverse-text-color;
  .border(lighten(@border-color-inverse, 15%));
  .drop-shadow(0, -4px, 4px, rgba(0, 0, 0, 0.1));
  .opacity(0);
  .transition(opacity .15s linear);

  &.show {
    .opacity(0.70);

    &:hover,
    &:focus{
      color: @link-color;
      .opacity(1);
    }
  }

  .@{fa-css-prefix} {
    line-height: 40px;
  }
}
