/**
 * @file
 * components/tree.less.
 */

.jstree-default .jstree-checkbox {
  background-image: url(../images/jstree.png);
}

.jstree-default .jstree-icon {
  color: @text-color;
}

.jstree-default .jstree-hovered {
  background-color: @state-primary-bg;
}

.jstree-default .jstree-clicked {
  background-color: @state-primary-bg;
}

.jstree-default .jstree-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.jstree-default .colored {
  color: @brand-primary;
}

.jstree-default .colored .jstree-icon {
  color: @brand-primary;
}

.jstree-default .colored-icon .jstree-icon {
  color: @brand-primary;
}

.jstree-default .folder .jstree-icon {
  color: @brand-warning;
}
